h1 {
    color: black;
    font-family: avenir;
    text-align: center;
    font-size: 80px;

}
p {
    color: black;
    font-family: avenir;
    text-align: center;
    font-size: 20px;
    text-justify: inter-word;
    text-align: center;
}

a {
	  color: black;
    font-family: avenir;
    text-align: center;
}

footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
