body {
    background-color: white;
}
h1 {
    color: black;
    font-family: avenir;
    text-align: center;
    font-size: 80px;

}
p {
    color: black;
    font-family: avenir;
    text-align: center;
    font-size: 20px;
}

a {
	color: black;
    font-family: avenir;
    text-align: center;
}
